body {
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
}

body::-webkit-scrollbar {
  width: 7px;
}

body::-webkit-scrollbar-track {
  background: rgb(201, 201, 201);
}

body::-webkit-scrollbar-thumb {
  background: rgb(124, 124, 124);
  border-radius: 5px;
}

#title {
  font-family: 'Fascinate', cursive;
  font-size: 90px;
  -webkit-text-stroke: 2px #000;
  color: rgb(255, 255, 255);
  margin: 20px 0;
}

#section-options {
  width: 230px;
  display: flex;
  justify-content: space-between;
  padding-bottom: 7px;
}

#clear-board {
  cursor: pointer;
  color: rgb(255, 234, 234);
  font-size: 18px;
  background-color: rgb(255, 75, 75);
  border: none;
  border-radius: 3px;
}

#generate-board {
  cursor: pointer;
  color: rgb(235, 255, 234);
  font-size: 18px;
  background-color: rgb(86, 185, 61);
  border: none;
  border-radius: 3px;
}

#board-size {
  width: 100%;
  margin: 0 4px;
  border: none;
  border-radius: 3px;
}

.color {
  display: inline-block;
  border-radius: 5px;
  height: 50px;
  width: 50px;
  margin: 5px;
  cursor: pointer;
}

.selected {
  border: 2px solid #FFF;
}

.pixel {
  border: solid 1px black;
  border-radius: 3px;
  height: 40px;
  width: 40px;
  padding: 2px;
  background-color: white;
}

footer {
  position: static;
  bottom: 0;
  color: rgb(24, 24, 24);
  text-align: center;
  font-style: italic;
  line-height: 0;
}

footer a {
  text-decoration: none;
  color: inherit;
  font-weight: bold;
}
